*.pyc
.fleet
.vs
venv
/venv
api/venv
.env
*/__pycache__
.vs
/venv/*
.pytest_cache
.env
/upload-images/*
/upload/*
__pycache*
.DS_Store
*.log.*
*\*.log.*
None
.python-version
celerybeat-schedule
*.env.*
logs/*
/logs/*
.fleet/*
.fleet
.ipynb
*.ipynb
env
.coverage
prod.env
main.env
test.env
